.Gallary {
    padding: 20px;
    &__header {
        padding: 0px 20px;
        color: #d32776;
        font-weight: bolder;
        font-size: 25px;
        align-items: center;
        justify-content: space-between;
        display: flex;
        &__right {
            float: right;
        }
        &__link {
            font-size: 12px;
            align-items: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 15px;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

    }
   &__pagination {
       display: flex;   
       justify-content: center;
   } 
   &__preview {
       display: flex;
       justify-content: center;
       align-items: center;
       &__img {
        height: 500px;
        width:  500px;
       }
   }
}

.GallaryCard {
    cursor: pointer;
    height: auto;
    width: 150px;
    position: relative;
    margin: 5px;
    border-radius: 0px 0px 10px 10px;
    &__favBtn {
        text-align: center;
        background-color: #56a8c2;
        color: #fff;
        border-radius: 0px 0px 10px 10px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    &__favBtnDisable {
        background-color: #dbdbdb;
        color: gray;
        text-align: center;
        user-select: none;
    }
    &__favImg {
        position: absolute;
    top: 3px;
    right: 3px;
    font-size: 18px;
    color: #bf4c4c;
    }
}

.GallaryList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.Favourite {
    padding: 20px;
    &__header {
        padding: 20px 0px;
        user-select: none;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        color: #d32776;
        &__link {
            font-size: 14px;

        }
    }

    &__body {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px 0px;
        text-align: center;
        border: 1px solid #dbdbdb;
        p {
            width: 100%
        }
    }
}